.c-page {
  height: 100%;
  display: grid;
  grid-gap: $gap-sm;
  grid-template-areas:
    "header"
    "content"
    "footer";
  grid-template-rows: 80px 1fr 80px;
  justify-items: center;

  @media screen and (min-width: $bp-lg) {
    grid-gap: $gap-lg;
  }
}

.c-header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: lightgray;
}

.c-footer {
  grid-area: footer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: lightgray;
}

.c-main {
  grid-area: content;
  width: 100%;
  position: relative;
  padding: $gap-sm;

  @include bp(lg) {
    width: 996px;
  }

  @media screen and (min-width: $bp-xl) {
    width: 1200px;
    padding: $gap-lg;
  }

  @media screen and (min-width: $bp-xxl) {
    width: 1440px;
  }
}