.g-box {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.o-grid {

  @media screen and (min-width: $bp-md) {
    display: grid;
    justify-content: center;
    grid-gap: $gap-sm;
    transition: all .3s ease;
    grid-template-columns: repeat(12, 51px);
  }

  @media screen and (min-width: $bp-lg) {
    grid-gap: $gap-lg;
    grid-template-columns: repeat(12, 68px);
  }

  @media screen and (min-width: $bp-xl) {
    grid-template-columns: repeat(12, 76px);
  }

  @media screen and (min-width: $bp-xxl) {
    grid-template-columns: repeat(12, 96px);
  }
}

.o-grid+.o-grid {
  margin-top: $gap-lg;
}