.g-headlines--new {
  grid-template-areas:
    "main main main main aside aside"
}

.g-headline__main {
  display: grid;
  grid-template-columns: repeat(auto-fit, 25%);
  grid-area: main;
}

.g-headline__column {
  grid-area: aside;
}

.g-lead {
  grid-column: span 4;
  display: flex;
  flex-flow: row wrap;

  h1 {
    flex: 3;
  }

  img {
    flex: 1;
  }
}

.g-featured {
  grid-column: span 2;
}

.g-standfirst {
  grid-column: span 4;
  display: flex;
  flex-flow: row wrap;

  img {
    flex: 1;
  }

  h1 {
    flex: 3;
  }
}