.story {
  display: flex;
  margin-bottom: 1rem;

  &--stack,
  &--cover {
    flex-flow: column;
  }

  &--list {
    flex-wrap: wrap;
  }

  &--list-reverse {
    flex-flow: row-reverse;
  }

  &__header {
    .story--list & {
      flex: 1 1 75%;
    }
  }

  &__media {
    width: 100%;

    .story--list & {
      flex: 1 1 25%;
      padding-right: 1rem;
    }
  }

  &__footer {
    .story--list & {
      flex: 1 1 auto;
    }
  }

  &__sublinks {
    margin: 0 0 1rem 0;
    padding: 0;
    list-style: none;
  }
}