$gap: 24px;
$bp-md: 740px;
$bp-lg: 992px;
$bp-xl: 1366px;

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  padding: 24px;
  font: 120% Helvetica, Arial, sans-serif;
}

.page {
  display: grid;
  grid-row-gap: $gap;
  grid-template-areas:
    "header"
    "content"
    "footer";
  grid-template-rows: 80px 1fr 80px;
  min-height: 100%;
  justify-items: center;
}

header {
  display: flex;
  grid-area: header;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: lightgray;
}

footer {
  display: flex;
  grid-area: footer;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: lightgray;
}

main {
  position: relative;
  z-index: 1;
  grid-area: content;
  height: 100vh;
  background-image: url('https://ad.citynews.it/frontend/superilles/superilles-sm.png');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;

  @media screen and (min-width: $bp-md) {
    width: 732px;
    background-image: url('https://ad.citynews.it/frontend/superilles/superilles-md.png');
  }

  @media screen and (min-width: $bp-lg) {
    width: 1032px;
    background-image: url('https://ad.citynews.it/frontend/superilles/superilles-lg.png');
  }

  @media screen and (min-width: $bp-xl) {
    width: 1176px;
    background-image: url('https://ad.citynews.it/frontend/superilles/superilles-xl.png?v2');
  }
}

.box {
  position: relative;
  z-index: 2;
  padding: 24px;
  background: rgba(0, 0, 0, .1);
}

.g-container {
  display: grid;
  grid-gap: 12px;
  grid-template-columns: repeat(6, 1fr);

  @media screen and (min-width: $bp-lg) {
    grid-gap: 24px;
    grid-template-columns: repeat(12, 1fr);
  }
}

.g-row-8 {
  grid-template-rows: repeat(8, 38px);

  @media screen and (min-width: $bp-md) {
    grid-template-rows: repeat(8, 76px);
  }
}

.g-block {
  background-color: cyan;
}

.g-block-1 {
  grid-column: 1;
  grid-row: 1;
}

.g-superblock {
  grid-column: 3 / 5;
  grid-row: 1 / 3;
}