<section class="g-section g-headlines g-headlines--mosaic">
  <div class="g-box g-lead bg-purple-500 color-white">Lead</div>
  <div class="g-box g-featured bg-blue-700 color-white">Featured</div>
  <div class="g-box g-standfirst bg-teal-200">Standfirst</div>
  <div class="g-box g-strip bg-teal-100">Strip</div>
  <div class="g-box g-adv bg-yellow-600">Adv</div>
</section>