<section class="g-section g-headlines g-headlines--base">
  
  <article class="g-box bg-purple-500 color-white">Lead</article>
  
  <article class="g-box bg-blue-700 color-white">Featured</article>
  <article class="g-box bg-blue-700 color-white">Featured</article>

  <article class="g-box bg-blue-700 color-white">Featured Featured Featured Featured Featured Featured</article>
  {% for i in range(0,10) %}
    <article class="g-box bg-blue-700 color-white">Featured</article>
  {% endfor %}

  <section data-attribute="focus-video" class="g-box bg-orange-600">
    {% for i in range(0,3) %}
      <article class="color-white">Video</article>
    {% endfor %}
  </section>
  
  <div class="g-box bg-teal-100">Box</div>
  <div class="g-box bg-teal-100">Box</div>
  <div class="g-box bg-teal-100">Box</div>

  <div data-attribute="adv-box" class="g-box bg-yellow-600">
    <img src="https://via.placeholder.com/300x250" alt="">
  </div>
</section>