<section class="g-section g-headlines g-headlines--base">
  <div class="g-box g-lead bg-purple-500 color-white">Lead</div>
  <div class="g-box g-featured bg-blue-700 color-white">Featured</div>
  <div class="g-box g-strip bg-teal-100">Strip</div>
  <div class="g-box g-adv bg-yellow-600">
    <img src="https://via.placeholder.com/300x250" alt="">
  </div>
</section>