<section class="g-section g-headlines g-headlines--base">
  <div class="g-lead">
    <article>
      <img src="{{ articles[1].urlToImage }}" alt="{{ articles[1].title }}">
      <h1>
        {{ articles[1].title }}
      </h1>
      <p>
        {{ articles[1].description }}      
      </p>
    </article>
  </div>
  <div class=" g-featured">
    <article>
      <img src="{{ articles[2].urlToImage }}" alt="{{ articles[2].title }}">
      <h1>
        {{ articles[2].title }}
      </h1>
      <p>
        {{ articles[2].description }}      
      </p>
    </article>
  </div>
  <div class="g-strip u-stories-col">
    <h3>Ultime notizie</h3>
    {% for article in articles %}
      {% set loopStart = loop.index %}
      {% set loopSlice = 5 %}
      {% if loopStart <= loopSlice %}
        <article>
          <h1>{{ article.title}}</h1>
        </article>
      {% endif %} 
    {% endfor %}
  </div>
  <div class="g-box g-adv bg-yellow-600">
    <img src="https://via.placeholder.com/300x250" alt="">
  </div>
</section>