<article style="background: url('https://via.placeholder.com/1000x563') center center no-repeat">
  <header>
    <h1>Lorem, ipsum dolor sit amet consectetur adipisicing elit</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta placeat magnam quo sed hic nobis nemo non in.</p>
  </header>
  <footer>
    <p>1 ora fa</p>
  </footer>
</article>