* {
  box-sizing: border-box; }

html,
body {
  width: 100%;
  height: 100%;
  margin: 0; }

body {
  font: 100% Helvetica, Arial, sans-serif; }

img {
  min-width: 100%;
  width: 100%; }

.page {
  height: 100%;
  display: grid;
  grid-gap: 12px;
  grid-template-areas: "header" "content" "footer";
  grid-template-rows: 80px 1fr 80px;
  justify-items: center; }
  @media screen and (min-width: 1200px) {
    .page {
      grid-gap: 24px; } }

.header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: lightgray; }

.footer {
  grid-area: footer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: lightgray; }

.main {
  grid-area: content;
  width: 100%;
  position: relative; }
  @media screen and (min-width: 1366px) {
    .main {
      width: 1176px; } }
  @media screen and (min-width: 1440px) {
    .main {
      width: 1392px; } }

.g-box {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center; }

.g-section {
  display: grid;
  grid-gap: 12px;
  transition: all .3s ease;
  justify-content: center; }
  @media screen and (min-width: 740px) {
    .g-section {
      grid-template-columns: repeat(6, 114px); } }
  @media screen and (min-width: 1200px) {
    .g-section {
      grid-gap: 24px;
      grid-template-columns: repeat(6, 152px); } }
  @media screen and (min-width: 1366px) {
    .g-section {
      grid-template-columns: repeat(6, 176px); } }

.g-section + .g-section {
  margin-top: 24px; }

@media screen and (min-width: 740px) {
  .g-lead {
    grid-area: lead; }
  .g-main {
    grid-area: main; }
  .g-aside {
    grid-area: aside; }
  .g-featured {
    grid-area: featured; }
  .g-featured-2 {
    grid-area: featured-2; }
  .g-standfirst {
    grid-area: standfirst; }
  .g-standfirst-2 {
    grid-area: standfirst-2; }
  .g-strip {
    grid-area: strip; }
  .g-adv {
    grid-area: adv; } }

@media screen and (min-width: 740px) {
  .g-headlines--base {
    grid-template-rows: repeat(8, minmax(auto, 114px));
    grid-template-areas: "lead lead lead lead lead lead" "lead lead lead lead lead lead" "lead lead lead lead lead lead" "lead lead lead lead lead lead" "featured featured featured featured featured featured" "featured featured featured featured featured featured" "strip strip strip strip adv adv" "strip strip strip strip adv adv"; } }

@media screen and (min-width: 1200px) {
  .g-headlines--base {
    grid-template-rows: repeat(5, 152px);
    grid-template-areas: "lead lead lead lead strip strip" "lead lead lead lead strip strip" "lead lead lead lead strip strip" "featured featured featured featured adv adv" "featured featured featured featured adv adv"; } }

@media screen and (min-width: 1366px) {
  .g-headlines--base {
    grid-template-rows: repeat(5, minmax(176px, auto)); } }

@media screen and (min-width: 740px) {
  .g-headlines--medium {
    grid-template-rows: repeat(8, minmax(114px, auto));
    grid-template-areas: "lead lead lead lead lead lead" "lead lead lead lead lead lead" "lead lead lead lead lead lead" "featured featured featured featured-2 featured-2 featured-2" "featured featured featured featured-2 featured-2 featured-2" "featured featured featured featured-2 featured-2 featured-2" "standfirst standfirst standfirst standfirst adv adv" "standfirst standfirst standfirst standfirst adv adv"; } }

@media screen and (min-width: 1200px) {
  .g-headlines--medium {
    grid-template-rows: repeat(5, minmax(152px, auto));
    grid-template-areas: "lead lead lead lead strip strip" "lead lead lead lead strip strip" "featured featured featured-2 featured-2 strip strip" "featured featured featured-2 featured-2 adv adv" "standfirst standfirst standfirst standfirst adv adv"; } }

@media screen and (min-width: 1366px) {
  .g-headlines--medium {
    grid-template-rows: repeat(5, minmax(176px, auto)); } }

@media screen and (min-width: 740px) {
  .g-headlines--mosaic {
    grid-template-rows: repeat(5, minmax(152px, auto));
    grid-template-areas: "lead lead lead lead featured featured" "lead lead lead lead featured featured" "standfirst standfirst standfirst adv adv adv" "standfirst standfirst standfirst adv adv adv" "strip strip strip strip strip strip"; } }

@media screen and (min-width: 1200px) {
  .g-headlines--mosaic {
    grid-template-rows: repeat(5, minmax(152px, auto)); } }

@media screen and (min-width: 1366px) {
  .g-headlines--mosaic {
    grid-template-rows: repeat(5, minmax(176px, auto)); } }

@media screen and (min-width: 1440px) {
  .g-headlines--mosaic {
    grid-template-columns: repeat(12, 96px);
    grid-template-rows: repeat(7, minmax(96px, auto));
    grid-template-areas: "lead lead lead lead lead lead featured featured featured featured strip strip" "lead lead lead lead lead lead featured featured featured featured strip strip" "lead lead lead lead lead lead featured featured featured featured strip strip" "lead lead lead lead lead lead featured featured featured featured strip strip" "standfirst standfirst standfirst adv adv adv featured featured featured featured strip strip" "standfirst standfirst standfirst adv adv adv featured featured featured featured strip strip" "standfirst standfirst standfirst adv adv adv featured featured featured featured strip strip"; } }

.g-list {
  grid-template-rows: auto; }
  @media screen and (min-width: 1200px) {
    .g-list {
      grid-template-areas: "main main main main aside aside"; } }

.u-stories-col {
  display: flex;
  flex-flow: column;
  align-items: flex-start; }
