{% extends "layout/base.njk" %}
{% from "macro/story.njk" import story %}

{% block content %}

  <section class="o-grid l-featureds">

    {{ story(position='1', layout='stack-reverse', "xl", media="600x338", articles[0].title, articles[0].summary) }}
    {{ story(position='2', layout='inset', "md", media='300x169',articles[10].title, articles[10].summary) }}
    {{ story(position='3', layout='inset', "md", media='300x169', articles[2].title, articles[2].summary) }}
    {{ story(position='4', layout='stack', "sm", media='300x169', articles[3].title, articles[3].summary) }}
    {{ story(position='5', layout='stack', "sm",  media='300x169', articles[4].title, articles[4].summary) }}
    {{ story(position='6', layout='stack', "sm", media='300x169', articles[5].title) }}
    {{ story(position='7', layout='stack', "sm", media='300x169', articles[6].title) }}
    {{ story(position='8', layout='stack', "sm", media='300x169', articles[7].title) }}
    {{ story(position='9', layout='stack', "sm", media='300x169', articles[8].title) }}

    <div grid-position="slot-medium-1" class="o-slot">
      <img src='https://placehold.it/300x250/616161?text=Medium%20Box' alt=''/>
    </div>

    <div grid-position="slot-large-1" class="o-slot">
      <img src='https://placehold.it/1156x250/616161?text=Large%20Rectangle' alt=''/>
    </div>

  </section>

  {# <!-- Focus -->
  <section class="o-grid o-section">
    <h3 class="o-section__title">Politica</h3>
    {{ story("focus-lead", "cover", "lg", "600x338", articles[4].title) }}
    {{ story("focus-featured", "cover", "md", "300x169", articles[5].title) }}
    {{ story("focus-featured", "cover", "md", "300x169", articles[6].title) }}
  </section>

  <!-- Focus -->
  <section class="o-grid o-section">
    <h3 class="o-section__title">Sport</h3>
    {{ story("focus-featured", "stack", "md", "300x169", articles[6].title) }}
    {{ story("focus-featured", "stack", "md", "300x169", articles[6].title) }}
    {{ story("focus-featured", "stack", "md", "300x169", articles[6].title) }}
    {{ story("focus-featured", "stack", "md", "300x169", articles[6].title) }}
  </section>

  <!-- Focus -->
  <section class="o-grid o-section">
    <h3 class="o-section__title">Cronaca</h3>
    {{ story("focus-lead-list", "cover", "lg", "1000x563", articles[7].title) }}
    {{ story("focus-featured-list", "stack", "md", "300x169", articles[8].title) }}
    {{ story("focus-featured-list", "stack", "md", "300x169", articles[9].title) }}
  </section>

  <!-- Focus -->
  <section class="o-grid o-section">
    <h3 class="o-section__title">Speciale Eventi</h3>
    {{ story("focus-lead-square", "cover", "lg", "600x600", articles[13].title) }}
    {{ story("focus-featured", "cover", "md", "300x169", articles[13].title, articles[13].summary) }}
    {{ story("focus-featured", "cover", "md", "300x169", articles[13].title, articles[13].summary) }}
    {{ story("focus-featured", "cover", "md", "300x169", articles[13].title, articles[13].summary) }}
    {{ story("focus-featured", "cover", "md", "300x169", articles[13].title, articles[13].summary) }}
  </section> #}

{% endblock %}