<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

  <link rel="stylesheet" href="app/css/superilles.css">
  <link rel="stylesheet" href="node_modules/material-colors/dist/colors.css">
</head>
<body>
  <div class="c-page">

    <header class="c-header">Header</header>

    <main class="c-main">
      {% block content %}
        
      {% endblock %}
    </main>

    <footer class="c-footer">Footer</footer>
  </div>

</body>
</html>