{% macro story(position='', layout='', size, media='', heading, summary, datestamp) %}

  <article grid-position="{{ position }}" class="c-story c-story--{{ layout }} c-story--{{ size }}">

    {% if media %}
      {% if layout == 'cover' %}
        <figure class="c-story__media" style="background-image: url('https://via.placeholder.com/{{ media }}')"></figure>
    
      {% else %}
        <figure class="c-story__media">
          <img class="o-img" src="https://via.placeholder.com/{{ media }}" alt="">        
        </figure>
      {% endif %}
    {% endif %}

    <h1 class="c-story__heading o-type o-type--{{ size }}">
      {{ heading }}
    </h1>

    {% if summary %}
      <p class="c-story__summary">{{ summary }}</p>
    {% endif %}

    {% if datestamp %}
      <span class="c-story__datestamp">{{ datestamp }}</span>
    {% endif %}

  </article>

{% endmacro %}